.wrapper{
    background-color: #2d2d2d;
    padding: 14px 65px;
    @media screen and (max-width: 810px) {
        padding: 14px 25px;
    }
    @media screen and (max-width: 490px) {
        position: relative;
        padding: 14px 20px;
        height: 150px;
    }
}