.WrapperContant{
    
}

.WHome{
    
}
.wall{
    display: flex;
    justify-content: space-between;
    padding: 30px 60px ;
    flex-wrap: wrap;
}
.card{
   
}
.slider{

}
.head{
    text-align: center;
    margin: 80px 0;
    border: 1px solid slateblue;
}