
.wall{
    display: flex;
    justify-content: space-between;
    padding: 30px 60px 0 ;
    flex-wrap: wrap;
}
.card{
   display: block;
   img{
       max-width: 100%;
   }
}
.brand{
    display: flex;
    padding: 0 30px ;
    justify-content: space-around;
    img{
        width: 20%;
    }
}
.slider{
    width: 90%;
    padding:0 15px ;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    
    &__arrow{
        z-index: 50;
        position: absolute;
        display: flex;
        width: 35px;
        height: 35px;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 21px;
        background-color: slategray;
        top:30%;
        color: snow;
        border: none;
        transition: all .1s ease;
        opacity: 0.7;
        &:active{
          background-color:snow;
          color: black;

        }
    }
    &__prev{
        left:0;
    }
    &__next{
        right: 0;
    }
    &__line{
        box-sizing: border-box;
        width:100%;
        min-height: 100%;
        overflow-x: hidden;
        display: flex;
        padding: 5px 0;
         div{
             flex-shrink: 0;
             user-select: none
         }
        
    }
    &__active{
        background-color: #2d2d2d;
    }
   
}



.head{
    text-align: center;
    margin: 80px 0;
    border: 1px solid slateblue;
}


.price{
    font-weight: bold;
}
.sorting{
    padding: 8px 7px;
    border: none;
    outline: none;
    font-size: 15px;
    white-space: pre;
    padding-right: 40px;
    letter-spacing: 0.1em;
    border:1px solid white;
   
    option{
        margin-right: 50px;
        font-weight: lighter;
        
    }
    
}
.sorting:focus{
    border:1px solid silver ;
    box-shadow: 0px 0px 2px 3px #ece8e5;
    
}

.product{
    // user-select: none;
    display: inline-block;
    margin:30px 20px ;
    position: relative;
    p{
        text-align: center;
        word-break: break-word;
        padding: 5px 35px;
        margin: 7px 0 ;
    }
    @media screen and (max-width:1250px) {
        width: 30%;
    }
    @media screen and (max-width:750px) {
        width: 45%;
    }
    @media screen and (max-width:250px) {
        width: 100%;
    }
    &__inner{
        display: block;
        
        img{
            max-width: 100%;
        }
    }

    span{
        display: flex;
        position: absolute;
        top: 2%;
        right: 4%;
        padding:  8px 8px 5px;
        font-size: 24px;
        font-weight:bold;
        background-color: white;  
        border-radius: 50%;
        color: #999999;
        transform: translateX(130%);
        transition: all .3s ease;
        opacity: 0;
        visibility: hidden;
        cursor: pointer;
     }
     span:hover{
        color: black;
    }
}

.product:hover{
    span{
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
}
.shop{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    @media screen and (max-width:250px) {
        flex-direction: column;
        align-items: center;
    }
   
}
.control{
    // &__wrapper{
    //     position: relative;
    // }
    &__panel{
        
        width: 90%;
        margin: 0 auto;
    }
    &__text{
        margin-top: 30px;
        font-size: 24px;
        font-weight: bold;
    }
    &__sortPanel{
        margin: 30px 0;
        display: flex;
        justify-content: space-between;
        @media screen and (max-width:350px) {
            flex-direction: column;
        }
    }

    &__btn{
        cursor: pointer;
    font-size: 16px;
    font-weight: lighter;
    padding: 10px 20px ;
    display: flex;
    align-items: center ;
    border: none;
    color: #333333;
    background-color: #ededed;
    text-align: center;
    @media screen and (max-width:350px) {
        justify-content: center;
    }
    }
}
    

.Filter{
    
    
    &__wrapper{
        box-sizing: border-box;
        color: #525665;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 370px;
        z-index: 40;
        background-color: white;
        padding: 0 25px;
        transition: all .3s ease;
        transform: translateX(-370px);
    }

    &__active{
        transform: translateX(0);
    }
    &__container{
        padding-top: 20px;
        overflow-y: auto;
        height: 100%;
        
    }
    &__panel{
        display: flex;
        justify-content: space-between;
        padding: 5px 15px;
        align-items: center;
        color: #525665;
        margin-bottom: 20px;
        span{
            font-size: 19px;
            font-weight: bold;
        }
    }
    &__item{
        padding: 0 15px;
        margin-bottom: 10px;
        user-select: none;
        div:first-child{
            display: flex;
            align-items: center;
            span {
                font-size: 18px;
                display: inline-block;
                padding: 5px 0;
            }
        }
    }
    &__Btns{
        box-sizing: border-box;
        background-color: white;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        button{
            box-sizing: border-box;
            width: 80%;
            margin: 0 auto 10px;
            display: block;
            height: 40px;
            border: none;
            color: white;
            background-color: #525665;
            font-size: 20px;
        }
    }
}

.CardProduct{
    padding: 50px 15px;
    &__content{
        display: flex;
        width: 80%;
        margin: 0 auto;
        padding: 0 20px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        
    }
    
    &__photo{
        
        flex: 0 0 40%;
        img{
            max-width: 100%;
        }
    }
    &__description{
        flex: 0 0 30%;
        margin: 50px 0 50px ;
        
        p{
           text-align: center; 
           font-size: 18px;
           margin-bottom: 30px;
            white-space:break-spaces ;
            max-height: 300px;
            overflow: hidden;
        }
    }
    &__btns{
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        button{
            cursor: pointer;
            padding: 14px 0;
            width: 290px;
            font-size: 25px;
            background-color: #525665;
            color: white;
            border: none;
            font-weight: lighter;
            transition: all .4s ease;

        }
        button:active{
            background-color: #f7f7f7;
            color: #525665;
            transform: scale(0.6)
        }
        span{
            cursor: pointer;
            font-size: 25px;
            display: block;
            padding: 15px;
            background-color: #f7f7f7;
            display: flex;
        }
    }

}

.Like{
    &__wrapper{
        padding: 30px 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
       
    }
    &__empty{
        font-size: 30px;
    }
}

.Basket{

    &__item{
        width: 80%;
        margin: 0 auto 30px;
        border: 1px solid sienna;
        display: flex;
        align-items: center;
        padding: 20px;
        justify-content: space-between;
        transition: all .8s ease;
        
    }
    &__empty{
        text-align: center;
        padding: 40px 15px;
        font-size: 30px;
    }
    &__photo{
        height: 200px;
        img{
            max-width: 100%;
            max-height: 100%;
        }
    }
    &__control{
        display: flex;
        padding: 10px;
        justify-content: space-between;
        width: 12%;
        div{
            user-select: none;
            cursor: pointer;
            font-size: 26px;
            color: #2d2d2d;
            padding: 5px;
            transform: all .3s ease;
        }
        div:active{
            transform: scale(0.7);
        }
    }
}
.off{
    display: none;
}